@{
    ViewData["Title"] = "Home Page";
}

<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">
        <div class="col p-2">
            <a class="btn btn-warning" asp-controller="Home" asp-action="Process" role="button">Update Spreadsheet</a>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
            <a class="btn btn-primary" href="https://docs.google.com/spreadsheets/d/1mGFDwqV0rb707hkdCEwytA5-JzWOC8dH3Keb6ipV8L8/edit#gid=1396817888" target="_new">Open Spreadsheet</a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col p-2">
            <h2>Start background process</h2>
            <p>Start a long running process by clicking on the button below:</p>
            <form asp-action="StartProgress">
                <button class="btn btn-primary">Queue Background Job</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
            <a class="btn btn-primary" asp-controller="api" asp-action="RandomString" role="button" target="_new">Get Random String</a>
        </div>
    </div>
</div>    